---

- name: "Output test results"
  debug:
    var: "{{ phpunit_results }}"

- name: "Wait for test results"
  shell: "uptime"
  until: phpunit_results.AppBundle is defined
  retries: 10
  delay: 10

- name: "Output test results"
  debug:
    msg: "testSuite={{ item.testSuite }}, stdout={{ item.stdout }}"
  with_items: "{{ phpunit_results }}"