---

- name: "Wait for app slot"
  docker_container:
    name: "phpunit-cache-reader"
    image: redis:32bit
    detach: no
    cleanup: yes
    command: "redis-cli -h {{ redisHost }} -p {{ redisPort }} -a {{ redisPass}} --no-auth-warning EXISTS {{ awx_workflow_job_name | default('wf') }}{{ awx_workflow_job_id | default('00') }}{{ item }}"
  register: "redis_container_tmp"
  until: "redis_container_tmp.ansible_facts.docker_container.Output == '1\n'"
  retries: 15
  delay: 30
  changed_when: false
  loop:
  - app

- name: "Wait for module slot"
  docker_container:
    name: "phpunit-cache-reader"
    image: redis:32bit
    detach: no
    cleanup: yes
    command: "redis-cli -h {{ redisHost }} -p {{ redisPort }} -a {{ redisPass}} --no-auth-warning EXISTS {{ awx_workflow_job_name | default('wf') }}{{ awx_workflow_job_id | default('00') }}{{ item }}"
  register: "redis_container_tmp"
  until: "redis_container_tmp.ansible_facts.docker_container.Output == '1\n'"
  retries: 15
  delay: 30
  changed_when: false
  loop:
  - module

- name: "Wait for appController slot"
  docker_container:
    name: "phpunit-cache-reader"
    image: redis:32bit
    detach: no
    cleanup: yes
    command: "redis-cli -h {{ redisHost }} -p {{ redisPort }} -a {{ redisPass}} --no-auth-warning EXISTS {{ awx_workflow_job_name | default('wf') }}{{ awx_workflow_job_id | default('00') }}{{ item }}"
  register: "redis_container_tmp"
  until: "redis_container_tmp.ansible_facts.docker_container.Output == '1\n'"
  retries: 15
  delay: 30
  changed_when: false
  loop:
  - appController

- name: "Wait for integration slot"
  docker_container:
    name: "phpunit-cache-reader"
    image: redis:32bit
    detach: no
    cleanup: yes
    command: "redis-cli -h {{ redisHost }} -p {{ redisPort }} -a {{ redisPass}} --no-auth-warning EXISTS {{ awx_workflow_job_name | default('wf') }}{{ awx_workflow_job_id | default('00') }}{{ item }}"
  register: "redis_container_tmp"
  until: "redis_container_tmp.ansible_facts.docker_container.Output == '1\n'"
  retries: 15
  delay: 30
  changed_when: false
  loop:
  - integration

- name: "Calculate final results"
  docker_container:
    name: "phpunit-cache-reader"
    image: redis:32bit
    detach: no
    cleanup: yes
    command: "redis-cli -h {{ redisHost }} -p {{ redisPort }} -a {{ redisPass}} --no-auth-warning GET {{ awx_workflow_job_name | default('wf') }}{{ awx_workflow_job_id | default('00') }}{{ item }}"
  register: redis_container_final
  #changed_when: false
  with_items:
  - app
  - module
  - appController
  - integration

- name: Show debug
  debug:
    msg: "{{ redis_container_final }}"

- name: "Final results"
  debug:
    #msg: "{{ item.item }}: {{ item.ansible_facts.docker_container.Output | regex_search(exp) | default('KO') }}"
    msg: "{{ item }}"
  vars:
    exp: "OK \\(\\d+ tests, \\d+ assertions\\)"
  with_items: redis_container_final.results