---

- name: "Wait for app slot"
  docker_container:
    name: "phpunit-cache"
    image: redis:32bit
    detach: no
    cleanup: yes
    command: "redis-cli -h {{ redisHost }} -p {{ redisPort }} -a {{ redisPass}} --no-auth-warning EXISTS {{ awx_workflow_job_name | default('wf') }}{{ awx_workflow_job_id | default('00') }}{{ item }}"
  register: "redis_container_tmp"
  until: "redis_container_tmp.ansible_facts.docker_container.Output == '1\n'"
  retries: 15
  delay: 30
  loop:
  - app

- name: "Wait for module slot"
  docker_container:
    name: "phpunit-cache"
    image: redis:32bit
    detach: no
    cleanup: yes
    command: "redis-cli -h {{ redisHost }} -p {{ redisPort }} -a {{ redisPass}} --no-auth-warning EXISTS {{ awx_workflow_job_name | default('wf') }}{{ awx_workflow_job_id | default('00') }}{{ item }}"
  register: "redis_container_tmp"
  until: "redis_container_tmp.ansible_facts.docker_container.Output == '1\n'"
  retries: 15
  delay: 30
  loop:
  - module

- name: "Wait for appController slot"
  docker_container:
    name: "phpunit-cache"
    image: redis:32bit
    detach: no
    cleanup: yes
    command: "redis-cli -h {{ redisHost }} -p {{ redisPort }} -a {{ redisPass}} --no-auth-warning EXISTS {{ awx_workflow_job_name | default('wf') }}{{ awx_workflow_job_id | default('00') }}{{ item }}"
  register: "redis_container_tmp"
  until: "redis_container_tmp.ansible_facts.docker_container.Output == '1\n'"
  retries: 15
  delay: 30
  loop:
  - appController

- name: "Wait for integration slot"
  docker_container:
    name: "phpunit-cache"
    image: redis:32bit
    detach: no
    cleanup: yes
    command: "redis-cli -h {{ redisHost }} -p {{ redisPort }} -a {{ redisPass}} --no-auth-warning EXISTS {{ awx_workflow_job_name | default('wf') }}{{ awx_workflow_job_id | default('00') }}{{ item }}"
  register: "redis_container_tmp"
  until: "redis_container_tmp.ansible_facts.docker_container.Output == '1\n'"
  retries: 15
  delay: 30
  loop:
  - integration

- name: "Calculate final results"
  docker_container:
    name: "phpunit-cache"
    image: redis:32bit
    detach: no
    cleanup: yes
    command: "redis-cli -h {{ redisHost }} -p {{ redisPort }} -a {{ redisPass}} --no-auth-warning GET {{ awx_workflow_job_name | default('wf') }}{{ awx_workflow_job_id | default('00') }}{{ item }}"
  register: "redis_container_{{ item }}"
  loop:
  - app
  - module
  - appController
  - integration

- name: "Final results"
  debug:
    msg: "{{ item }}: {{ lookup('vars',val).ansible_facts.docker_container.Output | regex_search(exp) | default('KO') }}"
  vars:
    val: "redis_container_{{ item }}"
    exp: "OK \\(\\d+ tests, \\d+ assertions\\)"
  loop:
  - app
  - module
  - appController
  - integration