---

- name: "Notify bitbucket instance"
  uri:
    url: "{{ bitbucketURL }}/rest/api/latest/projects/{{ PULL_REQUEST_FROM_REPO_PROJECT_KEY }}/repos/{{ PULL_REQUEST_FROM_REPO_SLUG }}/pull-requests/{{ PULL_REQUEST_ID }}/comments?diffType=EFFECTIVE&avatarSize=64&markup=true"
    method: POST
    body: "{\"text\":\"{{ msg }}\",\"avatarSize\":\"64\"}"
    body_format: json
    user: "{{ bitbucketUser }}"
    password: "{{ bitbucketPassword }}"
    force_basic_auth: yes
    status_code: 201
  register: "comment"
  vars:
    msg: "{{ awx_workflow_job_name }} #{{ awx_workflow_job_id }} started"

- name: "Save original comment"
  set_stats:
    data:
      bitbucketComment:  "{{ comment }}"

- name: "Notify bitbucket instance"
  uri:
    url: "{{ bitbucketURL }}/rest/build-status/latest/commits/{{ PULL_REQUEST_FROM_HASH }}"
    method: POST
    body: "{\"key\":\"{{ key }}\",\"state\":\"{{ state }}\",\"url\":\"{{ url }}\",\"name\":\"{{ name }}\",\"description\":\"{{ description }}\"}"
    body_format: json
    user: "{{ bitbucketUser }}"
    password: "{{ bitbucketPassword }}"
    force_basic_auth: yes
    status_code: 204
  vars:
    key: "{{ awx_workflow_job_name }} #{{ awx_workflow_job_id }}"
    state: "INPROGRESS"
    url: "http://10.125.104.112/#/workflows/{{ awx_workflow_job_id }}"
    name: "{{ awx_workflow_job_name }} #{{ awx_workflow_job_id }}"
    description: "{{ awx_workflow_job_name }} #{{ awx_workflow_job_id }}"

#- name: Show awx_workflow_job_id
#  debug:
#    msg: "{{ awx_workflow_job_id | default('kk') }}"
#- name: Show awx_workflow_job_name
#  debug:
#    msg: #"{{ awx_workflow_job_name | default('kk') }}"