---

#- name: "Output test results"
#  block:
#  - debug:
#      msg: "SalesforceBundle: {{ SalesforceBundle | default({}) }}"
#  - debug:
#      msg: "IntegrationBundle: {{ IntegrationBundle | default({}) }}"
#  - debug:
#      msg: "AppBundle: {{ AppBundle | default({}) }}"
#  - debug:
#      msg: "BusinessBundle: {{ BusinessBundle | default({}) }}"
#  - debug:
#      msg: "CoreBundle: {{ CoreBundle | default({}) }}"
#  - debug:
#      msg: "ModuleBundle: {{ ModuleBundle | default({}) }}"

- name: "Insert value in redis"
  docker_container:
    name: "phpunit-cache"
    image: redis:32bit
    command: "redis-cli -h {{ redisHost }} -p {{ redisPort }} -a {{ redisPass}} SET testData testValue EX 3600"

- name: "Read value from redis"
  docker_container:
    name: "phpunit-cache"
    image: redis:32bit
    detach: no
    cleanup: yes
    command: "redis-cli -h {{ redisHost }} -p {{ redisPort }} -a {{ redisPass}} --no-auth-warning GET testData"
  register: redis_container_output

- name: Show test output
  debug:
    msg: "{{ redis_container_output.ansible_facts.docker_container.Output }}"