---

- name: "Output test results"
  debug:
    var: "{{ phpunit_results }}"

- name: "Output test results"
  debug:
    msg: "testSuite={{ item.testSuite }}, stdout={{ item.stdout }}"
  with_items: "{{ phpunit_results }}"